.filter-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 15px 0;
}

.filter-bar button {
  padding: 6px 14px;
  border: 1px solid #2c2a2a;
  border-radius: 5px;
  background-color: #2c2a2a;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  color: #ccc;
}

.filter-bar button:hover {
  background-color: #484747;
}
