body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: white;
  font-family: "Inter", sans-serif;
  padding: 12px;
}

.main-container {
  flex: 80%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
