.navbar {
  background-color: none;
  color: #ccc;
  padding: 20px;
  align-items: center;
  font-family: "Inter", sans-serif;
  max-width: 15%;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 500;
}

.navbar a:hover {
  color: #484747;
}
