.task-form {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 10px;
}

.task-form input[type="text"] {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  background-color: #2c2a2a;
  color: #ccc;
}

.task-form textarea {
  background-color: #2c2a2a;
  color: #ccc;
  font-size: large;
  border: 1px 1px 1px #ccc;
  border-radius: 3px;
  padding: 12px;
}

.task-form input[type="date"] {
  background-color: #2c2a2a;
  color: #ccc;
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #191818;
  border-radius: 5px;
}

.task-form button {
  padding: 8px 16px;
  background-color: #2c2a2a;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.task-form button:hover {
  background-color: #191818;
}

.date-fields {
  display: flex;
  gap: 12px;
}

.date-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date-group label {
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 4px;
}

.date-group input {
  width: 100%;
  padding: 8px 12px;
  background-color: #2c2a2a;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.description {
  background-color: #2c2a2a;
}
