.task-list-container {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 10px;
}

.tasks-title {
  text-align: center;
  margin-bottom: 20px;
}

.task-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #1a1a1a;
  transition: background 0.2s;
}

.task-card:hover {
  background-color: #484747;
}
